@model FornecedorModel
@{
    ViewData["Title"] = "Editar Fornecedor";
}

<style>
    .form-group {
        margin-bottom: 10px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Editar Fornecedor</h1>
</div>

<form asp-controller="Fornecedor" asp-action="Alterar" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label for="exampleInputName">Nome</label>
        <input type="text" class="form-control" asp-for="Name" id="exampleInputName" placeholder="Nome">
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="form-group">
        <label for="inputCNPJ">CNPJ</label>
        <input type="text" asp-for="CNPJ" class="form-control" id="inputCNPJ" placeholder="CNPJ">
        @Html.ValidationMessageFor(x => x.CNPJ)
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Especialidade</label>
        <select asp-for="Especialidade" class="form-control" id="exampleFormControlSelect1">
            <option>Comércio</option>
            <option>Serviço</option>
            <option>Indústria</option>
        </select>
    </div>
    <div class="form-group">
        <label for="cep">
            CEP:
            <input name="cep" asp-for="CEP" type="text" id="cep" maxlength="9" class="form-control" placeholder="CEP" />
            @Html.ValidationMessageFor(x => x.CEP)
        </label>
    </div>

    <div class="form-group">
        <label for="rua">
            Rua:
            <input asp-for="Rua" name="rua" type="text" id="rua" placeholder="Rua" class="form-control" />
        </label>
    </div>
    <div class="form-group">
        <label for="bairro">
            Bairro:
            <input asp-for="Bairro" name="bairro" type="text" placeholder="Bairro" id="bairro" class="form-control" />
        </label>
    </div>
    <div class="form-group">
        <label for="cidade">
            Cidade:
            <input asp-for="Cidade" name="cidade" type="text" placeholder="Cidade" id="cidade" class="form-control" />
        </label>
    </div>
    <div class="form-group">
        <label for="uf">
            Estado:
            <input asp-for="UF" placeholder="UF" name="uf" type="text" id="uf" class="form-control" />
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <a class="btn btn-secondary" asp-controller="Fornecedor" asp-action="Index" role="button">Voltar</a>
</form>

